*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  line-height: 1.4;
}

/*  Properties für den flex Container
    Eltern div wird mit > ausgewählt*/
#expContainer > div {
  border: 1px solid;
  /*Höhe hier nur zum Anzeigen der Ausrichtung in der vertikalen. Vermeiden Sie Höhenangaben!*/
  height: 15em;
  display: flex;
  flex-flow: row wrap;
  /*Ausrichtung Hauptachse*/
  justify-content: flex-end;
  /*Ausrichtung Kreuzachse*/
  align-items: flex-end;
  /*nur für mehrzeilige Container*/
  align-content: center;
}

/*Properties für Flex Items*/
#expItem > div {
  border: 1px solid;
  height: 15em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  div {
    background: rgb(220 220 220);
  }
  div:last-of-type {
    align-self: flex-end;
    order: 1;
  }
  div:first-of-type {
    order: 1;
  }
  /*Prüfen Sir für order: 
    Gleiche Werte für Elemente, negative Werte,...*/
}

#item > ul {
  border: 1px solid rgb(255 0 0);
  list-style: none;
  padding: 0;
  display: flex;
  /*nur zwischen den Items ist eine Gap*/
  gap: 2%;
  flex-flow: row wrap;
  justify-content: flex-start;
  /*align-items: center;*/
  li {
    background: rgb(200 200 200);
    /*drum herum ist Abstand*/
    margin: auto 1%;
    flex: 1 0 5em;
    /*flex-basis überschreibt width*/
    width: 10em;
  }
  li:last-of-type {
    background: rgb(255 0 0);
    flex-grow: 2;
  }
}

/* Use Case Navigation, intrinsic sizing, RWD (Responsive Web Design) */
nav {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    li {
      background: rgb(230 230 230);
      margin: 0.3% 1%;
      text-align: center;
      flex: 0 0 24em;
      a {
        display: block;
      }
    }
  }
}

#sunshine > div {
  display: flex;
  flex-flow: row nowrap;
}

#sunshine > div > * {
  border: 1px solid rgb(0 0 255);
  margin: 1%;
  padding: 1%;
}

#sunshine img {
  flex: 0 0 10em;
  /* default für min-width ist auto */
  min-width: 0;
  object-fit: cover;
}

#sunshine p {
  flex: 0 1 60ch;
}
