/* Allgemeine Angaben */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.4;
  --main-color: rgb(220 220 220);
  --accent-color: rgb(255 50 150);
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3,
nav,
article {
  font-size: 1.2rem;
}

p {
  max-width: 60ch;
}

img {
  max-width: 100%;
}

/* Spezifische Angaben */

article,
h1,
h2 {
  background: var(--main-color);
}

h1 {
  border: 2px solid;
  width: max-content;
  padding: 1em;
  padding: 1em 4em;
  padding: 1em 4em 8em;
  padding: 1em 4em 6em 8em;
}

h2 {
  border: 5px dashed;
  padding: 3%;
  width: min-content;
  /* Zentrierung von Block Elementen */
  margin: auto;
}

article:nth-of-type(2) h2 {
  /* Um das Element nach rechts zu schieben, 
müssen aus der vorherigen Regeln alle margins außer left 
einen neuen Wert bekommen. */
  margin-left: auto;
  /* Also wie folgt. */
  margin: 1em 0 1em auto;
}

nav {
  border: 1px solid;
  width: max-content;
  margin-left: auto;
}

#calculation {
  figure {
    background: rgb(255 255 255);
    border: 5px solid var(--accent-color);
    width: 50%;
    margin: 5%;
    padding: 5%;
  }
  /* Unterschiedliches box-sizing nur zum Verständnis! */
  figure:first-of-type {
    box-sizing: border-box;
  }
  figure:last-of-type {
    box-sizing: content-box;
  }
}
