*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
}

figure,
figcaption,
img,
article {
  border: 1px solid;
}

figure {
  background: rgb(35, 143, 179);
}

/*img {
  filter: sepia(1) opacity(.7);
}*/

/* relative */
/*img {
  position: relative;
  top: -4em;
  um was in den Hintergrund oder Vordergrund zu schieben 
  z-index: 1;
}*/

/* z-index für positionierte Elemente */

/* absolute */
/*img,
figcaption {
    geht aus dem Text raus, figure wird leer
    position: absolute;
}*/

/*img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}*/

/* Bezugselement für img */
/*figure {
  position: relative;
}*/

/* fixed */
/*img {
  position: fixed;
  right: 0;
}*/

/* sticky */
/*h1 {
   bezieht sich nur auf den Elternbereich
  position: sticky;
  top: 0;
}*/

/*Soll ein Element sticky im viewport sein, dann muss es ein Kind von body sein*/

/* Use Cases */
/*nav{
    background: rgb(169, 173, 172);
    border: 1px solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}*/
/*header {
  background: hsl(0 0% 95% / 0.7);
  border: 1px solid;
  position: sticky;
  top: 0;
}

header > h2 {
  display: none;
}

figure {
  width: min-content;
  margin: auto;
  padding: 0.5em 0.5em 3em;
  position: relative;
}
figcaption {
  text-align: center;
  border: none;
  position: absolute;
  bottom: 0;
  background: hsl(90 100% 20% / 0.5);
}*/

/* Bild soll 100% des parent ausfüllen, auch in der Höhe, deswegen display block */
/*img {
  display: block;
  position: absolute;
  bottom: 0;
}*/

/* Bild und Text verhalten sich unterschiedlich, das Bild hat eine tatsächliche Größe, der Text kann sicher aber am Eltern Container anpassen.*/

figure {
  width: min-content;
  padding: 0.5em;
  border: none;
  margin: 2% auto;
  position: relative;
}
figcaption {
  text-align: center;
  border: none;
  position: absolute;
  bottom: calc(0.5em + 1px + 2%);
  background: hsl(240 100% 50% / 0.4);
  left: 0.5em;
  right: 0.5em;
  padding: 0.3em;
}

/* Bezugselement für den Pfeil */
article {
  position: relative;
}

article > article > :last-child {
  text-decoration: none;
  background: hsl(0 100% 80%);
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1%;
}
