/*Variablen: Custom Properties*/

:root {
  font-family: sans-serif;
  /*Ausgangsgröße*/
  font-size: 12px;
  /*globale Variable*/
  --main-color: rgb(203, 138, 138);
}

h1 {
  font-size: 3rem;
  /*Aufruf*/
  background: var(--main-color);
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}

article {
  font-size: 1.5rem;
}
